spring:
  datasource:
    url: jdbc:h2:mem:pasteldahora;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
  flyway:
    enabled: false

security:
  jwt:
    secret: bXQtdXJ0aW1hLXNlbnRlbmNhLXBhc3RlbC1kYS1ob3JhLWp3dC1rZXktMzI=